@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

html,body{
  height:100vh;
  width: 100%;
  margin: 0;        
  padding: 0;
  background-color:black;
  overflow: scroll;
  font-family: "M PLUS Rounded 1c";
}

#app {
  height: 100%;
}